:root { 
  --background: 0, 0%, 100%;
  --foreground: 0, 0%, 3.9%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: hsl(var(--background, 0, 0%, 100%));
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
